{{!-- <h5>{{board}}'s Board</h5> --}}
<table class="board-game">
  <thead>
    <tr>
      <th class="table-header">&nbsp;</th>
      <th class="table-header">1</th>
      <th class="table-header">2</th>
      <th class="table-header">3</th>
      <th class="table-header">4</th>
      <th class="table-header">5</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="row-header">A</td>
      {{play-cell positionX=1 positionY=1 board=board action='selectCell'}}
      {{play-cell positionX=2 positionY=1 board=board action='selectCell'}}
      {{play-cell positionX=3 positionY=1 board=board action='selectCell'}}
      {{play-cell positionX=4 positionY=1 board=board action='selectCell'}}
      {{play-cell positionX=5 positionY=1 board=board action='selectCell'}}
    </tr>
    <tr>
      <td class="row-header">B</td>
      {{play-cell positionX=1 positionY=2 board=board action='selectCell'}}
      {{play-cell positionX=2 positionY=2 board=board action='selectCell'}}
      {{play-cell positionX=3 positionY=2 board=board action='selectCell'}}
      {{play-cell positionX=4 positionY=2 board=board action='selectCell'}}
      {{play-cell positionX=5 positionY=2 board=board action='selectCell'}}
    </tr>
    <tr>
      <td class="row-header">C</td>
      {{play-cell positionX=1 positionY=3 board=board action='selectCell'}}
      {{play-cell positionX=2 positionY=3 board=board action='selectCell'}}
      {{play-cell positionX=3 positionY=3 board=board action='selectCell'}}
      {{play-cell positionX=4 positionY=3 board=board action='selectCell'}}
      {{play-cell positionX=5 positionY=3 board=board action='selectCell'}}
    </tr>
    <tr>
      <td class="row-header">D</td>
      {{play-cell positionX=1 positionY=4 board=board action='selectCell'}}
      {{play-cell positionX=2 positionY=4 board=board action='selectCell'}}
      {{play-cell positionX=3 positionY=4 board=board action='selectCell'}}
      {{play-cell positionX=4 positionY=4 board=board action='selectCell'}}
      {{play-cell positionX=5 positionY=4 board=board action='selectCell'}}
    </tr>
    <tr>
      <td class="row-header">E</td>
      {{play-cell positionX=1 positionY=5 board=board action='selectCell'}}
      {{play-cell positionX=2 positionY=5 board=board action='selectCell'}}
      {{play-cell positionX=3 positionY=5 board=board action='selectCell'}}
      {{play-cell positionX=4 positionY=5 board=board action='selectCell'}}
      {{play-cell positionX=5 positionY=5 board=board action='selectCell'}}
    </tr>
  </tbody>
</table>