<table class="board-game">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>A</td>
      {{play-cell positionX=1 positionY=1 board=board action='selectCell'}}
      {{play-cell positionX=2 positionY=1 board=board action='selectCell'}}
      {{play-cell positionX=3 positionY=1 board=board action='selectCell'}}
      {{play-cell positionX=4 positionY=1 board=board action='selectCell'}}
      {{play-cell positionX=5 positionY=1 board=board action='selectCell'}}
    </tr>
    <tr>
      <td>B</td>
      {{play-cell positionX=1 positionY=2 board=board action='selectCell'}}
      {{play-cell positionX=2 positionY=2 board=board action='selectCell'}}
      {{play-cell positionX=3 positionY=2 board=board action='selectCell'}}
      {{play-cell positionX=4 positionY=2 board=board action='selectCell'}}
      {{play-cell positionX=5 positionY=2 board=board action='selectCell'}}
    </tr>
    <tr>
      <td>C</td>
      {{play-cell positionX=1 positionY=3 board=board action='selectCell'}}
      {{play-cell positionX=2 positionY=3 board=board action='selectCell'}}
      {{play-cell positionX=3 positionY=3 board=board action='selectCell'}}
      {{play-cell positionX=4 positionY=3 board=board action='selectCell'}}
      {{play-cell positionX=5 positionY=3 board=board action='selectCell'}}
    </tr>
    <tr>
      <td>D</td>
      {{play-cell positionX=1 positionY=4 board=board action='selectCell'}}
      {{play-cell positionX=2 positionY=4 board=board action='selectCell'}}
      {{play-cell positionX=3 positionY=4 board=board action='selectCell'}}
      {{play-cell positionX=4 positionY=4 board=board action='selectCell'}}
      {{play-cell positionX=5 positionY=4 board=board action='selectCell'}}
    </tr>
    <tr>
      <td>E</td>
      {{play-cell positionX=1 positionY=5 board=board action='selectCell'}}
      {{play-cell positionX=2 positionY=5 board=board action='selectCell'}}
      {{play-cell positionX=3 positionY=5 board=board action='selectCell'}}
      {{play-cell positionX=4 positionY=5 board=board action='selectCell'}}
      {{play-cell positionX=5 positionY=5 board=board action='selectCell'}}
    </tr>
  </tbody>
</table>